<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active">
        <a href="#">
            @*<i class="fa fa-dashboard fa-lg"></i>*@
            <span>Profile Management</span>
        </a>
    </li>
    <li class="active">
        <a href="@Url.Action("Index","ManageClaims")">
            @*<i class="fa fa-dashboard fa-lg"></i>*@
            <span>Claims Management</span>
        </a>
    </li>
</ul>