@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Privacy
        <small>Terms & Conditions</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-lock"></i> Home</a></li>
        <li class="active">Privacy</li>
    </ol>
</section>



